{% extends 'base.html' %}

{% block login %}
<div class="block-form ">
    <div class="centring">
        <div class="users-form">
            <h1>Авторизация</h1>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form.as_table }}
                <p>
                    <button type="submit">Войти</button>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}