* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.media-404 {
    max-width: 750px;
    width: 100%;
}

.media-404 img {
    width: 100%;
}