* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #315FC1;
    --green: #6E8E2A;
    --white: #fff;
    --black: #000;
    --light-gray: #D9D9D9;
    --gray: #E9E9E9;

    --fz-title-parth: 4rem;
    --fz-very-big: 3rem;
    --fz-big: 2.25rem;
    --fz-normal: 1rem;

    --fw-regular: 400;
    --fw-bold: 700;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

input, button, textarea {
    border: none;
    outline: none;
    background: none;
}

ul {
    list-style: none;
}

.centring {
    max-width: 1274px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.top-header-wrapper {
    background-color: var(--blue);
    padding: 13px 0;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.list-menu {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
}

.link-menu:hover {
    text-decoration: underline;
}

.btn-contact {
    margin-top: 2px;
    color: var(--white);
    text-decoration: underline;
}

.bottom-header-wrapper {
    background-image: url("/static/transporations/images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    height: 711px;
}

.bottom-header {
    height: 100%;
    display: flex;
    align-items: center;
}

.text-header {
    max-width: 582px;
    width: 100%;
    color: var(--white);
}

.title-page {
    font-size: var(--fz-title-parth);
    font-weight: var(--fw-bold);
}

.description-company {
    font-size: var(--fz-normal);
    font-weight: var(--fw-regular);
    margin: 24px 0;
}

.link {
    background-color: var(--green);
    padding: 12px 32px;
}

.link:hover {
    background-color: #3f4e1f;
}

.services {
    margin-top: 120px;
}

.title-section {
    text-align: center;
    font-size: var(--fz-very-big);
}

.group-cars {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}

.card {
    position: relative;
}

.link-card img {
    border-radius: 15px;
    transition: 0.3s;
}

.title-card, .text-block-card {
    position: absolute;
}

.title-card {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: var(--fw-bold);
    left: 12px;
    top: 12px;
}

@keyframes move {
    from {
        height: 0;
    }

    to {
        height: auto;
    }
}

.text-block-card {
    display: none;
    bottom: 0;
    max-width: 300px;
    width: 100%;
    background: var(--white);
    border-radius: 0 0 15px 15px;
    padding: 12px;
}

.link-card:hover .image-card {
    box-shadow: 0 0 20px #000;
    transition: 0.3s;
}

.link-card:hover .text-block-card {
    display: block;
    /* animation: move 0.3s linear forwards; */
}

.more-card {
    background: var(--light-gray);
    border-radius: 15px;
}

.more {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more p {
    font-size: var(--fz-big);
    font-weight: var(--fw-bold);
}

.more-card:hover {
    box-shadow: 0 0 20px #000;
    transition: 0.3s;
}

.Types-transportation {
    margin-top: 120px;
}

.group-card-transportation {
    margin-top: 50px;
}

.card-transportation {
    display: flex;
    align-items: center;
}

.card-transportation:nth-child(odd) .text-card-transportation-block {
    margin-left: 20px;
}

.card-transportation:nth-child(even) {
    flex-direction: row-reverse;
}

.card-transportation:nth-child(even) .text-card-transportation-block {
    margin-right: 20px;
    text-align: right;
}


.title-card-transportation {
    font-size: var(--fz-big);
    font-weight: var(--fw-bold);
}

.text-card-transportation {
    font-size: var(--fz-normal);
    font-weight: var(--fw-regular);
    margin-top: 14px;
}

.footer {
    background: var(--blue);
    margin-top: 120px;
    color: var(--white);
    padding-top: 70px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.list-menu-footer {
    margin-top: 30px;
}

.item-list-menu:not(:first-child) {
    margin-top: 5px;
}

.footer-right {
    max-width: 363px;
}

.title-block-form {
    text-align: right;
    font-size: var(--fz-big);
    font-weight: var(--fw-bold);
}

.block-form form {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 25px;
}

.block-form input {
    padding: 12px;
    background: var(--gray);
    border-radius: 5px;
    width: 100%;
}

.block-form input:not(:first-child) {
    margin-top: 20px;
}

.block-form button {
    padding: 12px 32px;
    color: var(--white);
    background: var(--green);
    margin-top: 20px;
    width: 9.3125rem;
    border-radius: 5px;
}

.block-form button:hover {
    background-color: #3f4e1f;
}

.footer-bottom-wrapper {
    margin-top: 86px;
    background: var(--green);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.info:hover {
    text-decoration: underline;
}