.calculating-value {
    margin-top: 120px;
}

.title-block {
    margin-bottom: 50px;
}

label {
    cursor: pointer;
}

.info-form {
    display: flex;
}

.input-info {
    display: flex;
    flex-direction: column;
}

.info-form {
    margin-top: 12px;
}

.info-form input, .block-form-service input {
    padding: 12px;
    background: var(--gray);
}

.textarea-service {
    padding: 20px;
    border-radius: 5px;
    background: var(--light-gray);
    resize: none;
    margin-left: 20px;
    width: 100%;
    font-size: 128px;
    font-weight: var(--fw-bold);
    display: flex;
    align-items: center;
}

.info-form input:not(:first-child) {
    margin-top: 16px;
}

.btn-service, .block-form-service .btn-service {
    padding: 12px 32px;
    color: var(--white);
    background: var(--green);
    margin-top: 20px;
    width: 9.3125rem;
    border-radius: 5px;
}

.btn-service:hover {
    background-color: #3f4e1f;
}

.order-service {
    margin-top: 120px;
}

.block-form-service {
    max-width: 757px;
}

.contact-info-form, .cargo-info-form, .route-information-form {
    display: flex;
    flex-direction: column;
}

.block-form-service textarea {
    padding: 12px;
    border-radius: 5px;
    background: var(--gray);
    resize: none;
    width: 100%;
    font-weight: var(--fw-bold);;
}

.block-form-service input {
    max-width: 363px;
}

.grp-inp:not(:first-child) {
    margin-top: 20px;
}

.grp-inp h2 {
    margin-bottom: 10px;
}

.contact-info-form input:not(:nth-child(2)) {
    margin-top: 16px;
}

.cgi input {
    width: 100%;
}

.cgi input:not(:first-child) {
    margin-top: 16px;
}

.route-information-form input:not(:nth-child(2)) {
    margin-top: 16px;
}

.grp-inp textarea {
    margin-top: 16px;
    height: 145px;
}

.order-service input[type="submit"] {
    margin-top: 16px;
    cursor: pointer;
}

.cargo-grp-inp {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.link-user {
    text-decoration: underline;
}

.link-user:hover {
    color: #244bc9;
}

.price {
    font-weight: bold;
    font-size: 24px;
}

.price input {
    background: none;
    font-weight: inherit;
    font-size: inherit;
    padding-left: 5px;
}

@media screen and (max-width: 1100px) {
    .info-form, .cargo-grp-inp {
        flex-direction: column;
    }

    .textarea-service {
        font-size: 6rem;
        margin-left: 0;
        margin-top: 20px;
    }

    .block-form-service {
        max-width: 100%;
    }

    .block-form-service input {
        max-width: 100%;
    }

}

