{% extends 'base.html' %}
{% load static %}

{% block company-path %}
    <div class="main-page-wrapper">
        <div class="centring">
            {% include 'include/description-page.html' %}
<!--            <div class="workers">-->
<!--                <h2 class="title-block">Сотрудники</h2>-->
<!--                <div class="group-images">-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="{% static 'transporations/images/tmp_foto.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="{% static 'transporations/images/tmp_foto.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="{% static 'transporations/images/tmp_foto.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="{% static 'transporations/images/tmp_foto.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="{% static 'transporations/images/tmp_foto.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="{% static 'transporations/images/tmp_foto.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="{% static 'transporations/images/tmp_foto.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

            <div class="contacts-wrapper">
                <h2 class="title-block">Контакты</h2>
                <div class="contacts-block adress-block">
                    <h3 class="title-contact">Адреса</h3>
                    <ul class="list">
                        <li class="list-item">Улица Вокзальная, 27, Хутор-Бор</li>
                        <li class="list-item">Улица Пушкина, 123, Москва</li>
                        <li class="list-item">Проспект Ленина, 456, Санкт-Петербург</li>
                        <li class="list-item">Переулок Гоголя, 789, Нижний Новгород</li>
                        <li class="list-item">Улица Достоевского, 900, Новосибирск</li>
                    </ul>
                </div>
                <div class="contacts-block tel-block">
                    <h3 class="title-contact">Телефонные номера</h3>
                    <ul class="list">
                        <li class="list-item">Главный офис: +7 (123) 456-7890</li>
                        <li class="list-item">Руководитель компании: +7 (123) 456-7891</li>
                        <li class="list-item">Отдел кадров: +7 (123) 456-7892</li>
                        <li class="list-item">Отдел обслуживания клиентов: +7 (123) 456-7893</li>
                        <li class="list-item">Отдел логистики: +7 (123) 456-7894</li>
                    </ul>
                </div>
            </div>
            <div class="card-yandex">
                <div style="position:relative;overflow:hidden;">
                    <iframe src="https://yandex.ru/map-widget/v1/?ll=34.241004%2C53.112809&mode=whatshere&whatshere%5Bpoint%5D=34.240946%2C53.112833&whatshere%5Bzoom%5D=17&z=19.25" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}