
{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="bottom-header-wrapper">
    <div class="centring">
        <div class="bottom-header">
            <div class="text-header">
                <h1 class="title-page">Перевозка грузов</h1>
                <p class="description-company">ТрансГруз - лидер в грузовых перевозках по России. Автомобильные, железнодорожные, морские, авиаперевозки. Своевременная и безопасная доставка грузов любого объема и сложности.</p>
                <a href="{% url 'company' %}" class="link">Узнать больше</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block index-path %}

    <div class="centring">
        <section class="services">
            <h2 class="title-section">Наши услуги</h2>
            <div class="group-cars">

                <div class="card">
                    <a href="{% url 'service' %}" class="link-card">
                        <h3 class="title-card">Перевозки грузов по городу и области</h3>
                        <img src="{% static 'transporations/images/card.jpg' %}" alt="" class="image-card">
                        <div class="text-block-card">
                            <p class="text-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </a>
                </div>

                <div class="card">
                    <a href="{% url 'service' %}" class="link-card">
                        <h3 class="title-card">Междугородние перевозки</h3>
                        <img src="{% static 'transporations/images/card.jpg' %}" alt="" class="image-card">
                        <div class="text-block-card">
                            <p class="text-card">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>
                </div>

                <div class="card">
                    <a href="{% url 'service' %}" class="link-card">
                        <h3 class="title-card">Перевозка опасных грузов</h3>
                        <img src="{% static 'transporations/images/card.jpg' %}" alt="" class="image-card">
                        <div class="text-block-card">
                            <p class="text-card">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>
                </div>

                <div class="card more-card">
                    <a href="{% url 'services' %}" class="link-card more">
                        <p>Узнать больше→</p>
                    </a>
                </div>

            </div>
        </section>

        <section class="Types-transportation">
            <h2 class="title-section">Типы перевозок</h2>
            <div class="group-card-transportation">

                <div class="card-transportation">
                    <div class="image-container">
                        <img src="{% static 'transporations/images/type.jpg' %}" alt="">
                    </div>
                    <div class="text-card-transportation-block">
                        <h3 class="title-card-transportation">Перевозки</h3>
                        <p class="text-card-transportation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus laborum consectetur repellat quas porro, nobis tempora impedit facere. In corporis eaque magni? Pariatur optio nam laudantium! Possimus, sunt amet!</p>
                    </div>
                </div>

                <div class="card-transportation">
                    <div class="image-container">
                        <img src="{% static 'transporations/images/type.jpg' %}" alt="">
                    </div>
                    <div class="text-card-transportation-block">
                        <h3 class="title-card-transportation">Перевозки</h3>
                        <p class="text-card-transportation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus laborum consectetur repellat quas porro, nobis tempora impedit facere. In corporis eaque magni? Pariatur optio nam laudantium! Possimus, sunt amet!</p>
                    </div>
                </div>

                <div class="card-transportation">
                    <div class="image-container">
                        <img src="{% static 'transporations/images/type.jpg' %}" alt="">
                    </div>
                    <div class="text-card-transportation-block">
                        <h3 class="title-card-transportation">Перевозки</h3>
                        <p class="text-card-transportation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus laborum consectetur repellat quas porro, nobis tempora impedit facere. In corporis eaque magni? Pariatur optio nam laudantium! Possimus, sunt amet!</p>
                    </div>
                </div>

                <div class="card-transportation">
                    <div class="image-container">
                        <img src="{% static 'transporations/images/type.jpg' %}" alt="">
                    </div>
                    <div class="text-card-transportation-block">
                        <h3 class="title-card-transportation">Перевозки</h3>
                        <p class="text-card-transportation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus laborum consectetur repellat quas porro, nobis tempora impedit facere. In corporis eaque magni? Pariatur optio nam laudantium! Possimus, sunt amet!</p>
                    </div>
                </div>

            </div>
        </section>

    </div>
{% endblock %}
