{% extends 'base.html' %}
{% load static %}

{% block services-path %}
    <div class="main-page-wrapper">
        <div class="centring">
            {% include 'include/description-page.html' %}
            <div class="grid-list-card">
                {% for i in card_items %}
                    <div class="card">
                        <a href="{{ i.get_absolute_url }}" class="link-card">
                            <div class="media-card">
                                <h3 class="title-card">{{ i.title }}</h3>
                                <img src="{{ i.image_card.url }}" alt="" class="image-card">
                            </div>
                            <div class="text-block-card">
                                <p class="text-card">{{ i.short_description }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}