{% extends 'base.html' %}
{% load static %}

{% block scrips_service %}
    <script src="{% static 'transporations/script/service.js' %}" defer></script>
{% endblock %}

{% block service-path %}
<div class="main-page-wrapper">
    <div class="centring">
        <div class="description-pages">
            <h1 class="title-pages">{{ card_items.title }}</h1>
            <p class="text-pages">{{ card_items.full_description }}</p>
        </div>
        <div class="Types-transportation">
            <h2 class="title-section">Типы перевозок</h2>
            <div class="group-card-transportation">
               {% for i in type_transporations_item %}
                    <div class="card-transportation">
                        <div class="image-container">
                            <img src="{{ i.image_type.url }}" alt="">
                        </div>
                        <div class="text-card-transportation-block">
                            <h3 class="title-card-transportation">{{ i.title_type }}</h3>
                            <p class="text-card-transportation">{{ i.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="calculating-value">
            <h2 class="title-block">Расчёт стоимости</h2>
            <div class="block-form-service">
                <form action="">
                    <input type="checkbox" id="checkbox" name="checkbox">
                    <label for="checkbox">Опасный груз</label>
                    <div class="info-form">
                        <div class="input-info">
                            <input type="text" placeholder="Тип груза" id="type_cargo_calc">
                            <input type="text" placeholder="Вес груза" id="cargo_weight_calc">
                            <input type="text" placeholder="Тип перевозки" id="type_transportation_calc">
                            <input type="text" placeholder="Длина маршрута" id="route_length">
                        </div>
                        <div class="textarea-service" id="price">
                            0р.
                        </div>
                    </div>
                </form>
                <button class="btn-service" id="btn_service">Рассчитать</button>
            </div>
        </div>

        <div class="order-service">
        {% if user and user.is_active and not user.is_superuser %}
            <h2 class="title-block">Закжи уже сейчас</h2>
            <div class="block-form-service">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="grp-inp contact-info-form">
                        <h2>Контактная информация</h2>
                        {% for i in form_client %}
                            {{ i }}
                        {% endfor %}
                    </div>
                    <div class="grp-inp cargo-info-form">
                        <h2>Информация о грузе</h2>
                        <div class="cargo-grp-inp">
                            <div class="cargo-grp-inp-1 cgi">
                               {% for i in form_cargo %}
                                    {{ i }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        Цена: <input type="text" id="id_price_order" value="0р." disabled>
                    </div>
                    <input type="submit" value="Отправить" class="btn-service">
                </form>
            </div>
        {% elif user.is_superuser %}
            <h2 class="title-block">Вы не можете осуществлять заказ</h2>
        {% else %}
            <h2 class="title-block">Чтобы заказать услугу, нужно быть <a href="{% url 'users:login_user' %}"
                                                                     class="link-user">
                авторизованным</a></h2>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}