{% extends 'base.html' %}
{% load static %}

{% block services-path %}
    <div class="main-page-wrapper">
        <div class="centring">
            {% include 'include/description-page.html' %}
            <div class="grid-list-card">
                <div class="card">
                    <a href="{% url 'service' %}" class="link-card">
                        <h3 class="title-card">Перевозка опасных грузов</h3>
                        <img src="{% static 'transporations/images/card.jpg' %}" alt="" class="image-card">
                        <div class="text-block-card">
                            <p class="text-card">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="{% url 'service' %}" class="link-card">
                        <h3 class="title-card">Перевозка опасных грузов</h3>
                        <img src="{% static 'transporations/images/card.jpg' %}" alt="" class="image-card">
                        <div class="text-block-card">
                            <p class="text-card">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="{% url 'service' %}" class="link-card">
                        <h3 class="title-card">Перевозка опасных грузов</h3>
                        <img src="{% static 'transporations/images/card.jpg' %}" alt="" class="image-card">
                        <div class="text-block-card">
                            <p class="text-card">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="{% url 'service' %}" class="link-card">
                        <h3 class="title-card">Перевозка опасных грузов</h3>
                        <img src="{% static 'transporations/images/card.jpg' %}" alt="" class="image-card">
                        <div class="text-block-card">
                            <p class="text-card">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="{% url 'service' %}" class="link-card">
                        <h3 class="title-card">Перевозка опасных грузов</h3>
                        <img src="{% static 'transporations/images/card.jpg' %}" alt="" class="image-card">
                        <div class="text-block-card">
                            <p class="text-card">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="{% url 'service' %}" class="link-card">
                        <h3 class="title-card">Перевозка опасных грузов</h3>
                        <img src="{% static 'transporations/images/card.jpg' %}" alt="" class="image-card">
                        <div class="text-block-card">
                            <p class="text-card">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}